<h4>Sensor feeds</h4>
<ul class="list-group">
    <a href="#" class="list-group-item list-group-item-action">d5e980a5e34bd4de5b946c5a7b202f8e4c1413da2346ee0785c7469d941606c2</a>
    <a href="#" class="list-group-item list-group-item-action active">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
</ul>            
<p></p>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Subscribe to new feed</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sensor key">
        <small id="emailHelp" class="form-text text-muted"></small>
        <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Sensor name">
        <small id="emailHelp" class="form-text text-muted"></small>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>